<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
			<meta charset="utf-8" />
	<title>Relations - Documentation - Craft</title>
	<link rel="stylesheet" href="assets/css/buildwithcraft.css?20140929">
	<link rel="search" href="/opensearch.xml" title="buildwithcraft.com" type="application/opensearchdescription+xml">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript">
		document.cookie = 'hires='+(window.devicePixelRatio>1?'1':'0')+'; path=/';
	</script>
			<script type="text/javascript" src="//use.typekit.net/mhp5zog.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		
	<script>
	// Picture element HTML5 shiv
	document.createElement('picture');
	</script>
	<script src="assets/lib/picturefill.min.js" async></script>

			<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-39036834-1', 'auto');
			ga('send', 'pageview');
					</script>
	</head>

<body class="tk-proxima-nova docs">
	
			
	<header id="site-header">
		<div class="container">
			<nav class="grid12">
				<h1><a href="/">Craft</a></h1>

				<form id="search" method="get" action="http://buildwithcraft.com/search" accept-charset="UTF-8">
					<input type="text" class="text" placeholder="Search" name="q">
					<input type="submit" class="btn">
				</form>

									<a class="download btn">Download</a>
				
				
				
									<ul>
																											<li><a href="http://buildwithcraft.com/features" class=" ">Features</a></li>
																											<li><a href="http://buildwithcraft.com/pricing" class=" ">Pricing</a></li>
																											<li><a href="http://buildwithcraft.com/docs/introduction" class="sel ">Documentation</a></li>
																											<li><a href="http://buildwithcraft.com/community" class=" ">Community</a></li>
																											<li><a href="http://buildwithcraft.com/help" class=" ">Get Help</a></li>
											</ul>
				

				<div class="menubtn">Nav</div>
				<div class="menu" id="sitenavmenu">
										<ul>
																											<li><a href="http://buildwithcraft.com/features" class=" ">Features</a></li>
																											<li><a href="http://buildwithcraft.com/pricing" class=" ">Pricing</a></li>
																											<li><a href="http://buildwithcraft.com/docs/introduction" class="sel ">Documentation</a></li>
																											<li><a href="http://buildwithcraft.com/community" class=" ">Community</a></li>
																											<li><a href="http://buildwithcraft.com/help" class=" ">Get Help</a></li>
											</ul>
				
				</div>
			</nav>
		</div>
	</header>

	<div id="main">
			<div class="container grid sidenav">
		<div class="col3">
			<nav id="sidenav">
							<h4>Documentation</h4>
			
	
					
									<h5>Getting Started</h5>
					
					<ul>
								
									<li>
								<a href="introduction.html">Introduction</a>
	
					
		
					</li>
							
									<li>
													<a href="requirements.html">Installing and Updating</a>
			
					
					<ul>
								
									<li>
								<a href="requirements.html">Requirements</a>
	
					
		
					</li>
							
									<li>
								<a href="installing.html">Installing</a>
	
					
		
					</li>
							
									<li>
								<a href="updating.html">Updating</a>
	
					
		
					</li>
						</ul>
		
					</li>
							
									<li>
								<a href="folder-structure.html">Craft’s Folder Structure</a>
	
					
		
					</li>
							
									<li>
													<a href="config-settings.html">Configuration</a>
			
					
					<ul>
								
									<li>
								<a href="config-settings.html">General Config Settings</a>
	
					
		
					</li>
							
									<li>
								<a href="multi-environment-configs.html">Multi-Environment Configs</a>
	
					
		
					</li>
							
									<li>
								<a href="php-constants.html">PHP Constants</a>
	
					
		
					</li>
						</ul>
		
					</li>
						</ul>
		
							
									<h5>Core Concepts</h5>
					
					<ul>
								
									<li>
								<a href="users.html">Users</a>
	
					
		
					</li>
							
									<li>
								<a href="sections-and-entries.html">Sections and Entries</a>
	
					
		
					</li>
							
									<li>
								<a href="globals.html">Globals</a>
	
					
		
					</li>
							
									<li>
								<a href="assets.html">Assets</a>
	
					
					<ul>
								
		
		
					</li>
						</ul>
		
					</li>
							
									<li>
								<a href="categories.html">Categories</a>
	
					
		
							
									<li>
								<a href="tags.html">Tags</a>
	
					
		
					</li>
							
									<li>
								<a href="fields.html">Fields</a>
	
					
					<ul>
								
		
		
					</li>
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
						</ul>
		
					</li>
							
									<li>
								<a href="relations.html" class="sel active">Relations</a>
	
					
		
							
									<li>
								<a href="routing.html">Routing</a>
	
					
		
					</li>
							
									<li>
								<a href="searching.html">Searching</a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Templating</h5>
					
					<ul>
								
									<li>
								<a href="templating-overview.html">Templating Overview</a>
	
					
		
					</li>
							
									<li>
								<a href="twig-primer.html">Twig Primer</a>
	
					
		
					</li>
							
									<li>
								<a href="templating">Full Templating Reference<span class="external.html"></span></a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Guides</h5>
					
					<ul>
								
									<li>
								<a href="localization-guide.html">Setting Up a Localized Site</a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Advanced</h5>
					
					<ul>
								
									<li>
								<a href="reference-tags.html">Reference Tags</a>
	
					
		
					</li>
							
									<li>
								<a href="http://buildwithcraft.com/docs/plugins">Plugin Development<span class="external.html"></span></a>
	
					
		
					</li>
							
									<li>
								<a href="http://buildwithcraft.com/classreference">Full Class Reference<span class="external"></span></a>
	
					
		
					</li>
						</ul>
		
			
				</nav>
		</div>
		<div class="col9">
			<div id="sidenav-menubtn">
				<div class="menubtn">
											Nav
									</div>
				<div class="menu" id="sidenav-menu" data-align="center">
								<h4>Documentation</h4>
			
	
					
									<h5>Getting Started</h5>
					
					<ul>
								
									<li>
								<a href="introduction.html">Introduction</a>
	
					
		
					</li>
							
									<li>
													<a href="requirements.html">Installing and Updating</a>
			
					
					<ul>
								
									<li>
								<a href="requirements.html">Requirements</a>
	
					
		
					</li>
							
									<li>
								<a href="installing.html">Installing</a>
	
					
		
					</li>
							
									<li>
								<a href="updating.html">Updating</a>
	
					
		
					</li>
						</ul>
		
					</li>
							
									<li>
								<a href="folder-structure.html">Craft’s Folder Structure</a>
	
					
		
					</li>
							
									<li>
													<a href="config-settings.html">Configuration</a>
			
					
					<ul>
								
									<li>
								<a href="config-settings.html">General Config Settings</a>
	
					
		
					</li>
							
									<li>
								<a href="multi-environment-configs.html">Multi-Environment Configs</a>
	
					
		
					</li>
							
									<li>
								<a href="php-constants.html">PHP Constants</a>
	
					
		
					</li>
						</ul>
		
					</li>
						</ul>
		
							
									<h5>Core Concepts</h5>
					
					<ul>
								
									<li>
								<a href="users.html">Users</a>
	
					
		
					</li>
							
									<li>
								<a href="sections-and-entries.html">Sections and Entries</a>
	
					
		
					</li>
							
									<li>
								<a href="globals.html">Globals</a>
	
					
		
					</li>
							
									<li>
								<a href="assets.html">Assets</a>
	
					
					<ul>
								
		
		
					</li>
						</ul>
		
					</li>
							
									<li>
								<a href="categories.html">Categories</a>
	
					
		
							
									<li>
								<a href="tags.html">Tags</a>
	
					
		
					</li>
							
									<li>
								<a href="fields.html">Fields</a>
	
					
					<ul>
								
		
		
					</li>
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
							
		
		
						</ul>
		
					</li>
							
									<li>
								<a href="relations.html" class="sel active">Relations</a>
	
					
		
							
									<li>
								<a href="routing.html">Routing</a>
	
					
		
					</li>
							
									<li>
								<a href="searching.html">Searching</a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Templating</h5>
					
					<ul>
								
									<li>
								<a href="templating-overview.html">Templating Overview</a>
	
					
		
					</li>
							
									<li>
								<a href="twig-primer.html">Twig Primer</a>
	
					
		
					</li>
							
									<li>
								<a href="templating">Full Templating Reference<span class="external.html"></span></a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Guides</h5>
					
					<ul>
								
									<li>
								<a href="localization-guide.html">Setting Up a Localized Site</a>
	
					
		
					</li>
						</ul>
		
							
									<h5>Advanced</h5>
					
					<ul>
								
									<li>
								<a href="reference-tags.html">Reference Tags</a>
	
					
		
					</li>
							
									<li>
								<a href="http://buildwithcraft.com/docs/plugins">Plugin Development<span class="external.html"></span></a>
	
					
		
					</li>
							
									<li>
								<a href="http://buildwithcraft.com/classreference">Full Class Reference<span class="external"></span></a>
	
					
		
					</li>
						</ul>
		
			
	
				</div>
			</div>

			<div id="content">
										<header class="main-header">
				<h1>Relations</h1>
				

			</header>
		
																																														
																								
					<p>Craft has a very powerful engine for relating elements&nbsp;together.</p>
<p>That engine manifests itself through relational field types. Craft comes with 5 of them&nbsp;built-in:</p>
<ul>
<li><a href="assets-fields.html">Assets&nbsp;Fields</a></li>
<li><a href="categories-fields.html">Categories&nbsp;Fields</a></li>
<li><a href="entries-fields.html">Entries&nbsp;Fields</a></li>
<li><a href="tags-fields.html">Tags&nbsp;Fields</a></li>
<li><a href="users-fields.html">Users&nbsp;Fields</a></li>
</ul>
<p>Just like the other field types, you can add these to your <a href="sections-and-entries#sections">section</a>, <a href="http://buildwithcraft.com/docs/users">user</a>, <a href="http://buildwithcraft.com/docs/assets">asset</a>, <a href="http://buildwithcraft.com/docs/categories">category group</a>, <a href="http://buildwithcraft.com/docs/tags">tag group</a>, and <a href="http://buildwithcraft.com/docs/globals.html">global sets</a>’ field&nbsp;layouts.</p>
<h2 id=terminology>Terminology&nbsp;<a class="anchor" href="#terminology" title="Direct link to Terminology">#</a></h2>
<p>Each relation involves two elements: the <strong>source</strong> and the&nbsp;<strong>target</strong>.</p>
<ul>
<li>The <strong>source</strong> element is the one that has the relational field, where you selected the other&nbsp;element.</li>
<li>The <strong>target</strong> element is the one that was selected by the&nbsp;source.</li>
</ul>
<p>It’s important to grasp those terms, as they are relevant to the templating side of&nbsp;things.</p>
<h2 id=templating>Templating&nbsp;<a class="anchor" href="#templating" title="Direct link to Templating">#</a></h2>
<p>You’ve got a ton of options when it comes to outputting related elements in your&nbsp;templates.</p>
<h3 id=getting-target-elements-via-the-source-element>Getting Target Elements via the Source Element&nbsp;<a class="anchor" href="#getting-target-elements-via-the-source-element" title="Direct link to Getting Target Elements via the Source Element">#</a></h3>
<p>If you’ve already got a hold of the source element in your template, you can access its target elements for a particular field in the same way you access any other field’s value: by its&nbsp;handle.</p>
<p>Calling the relational field’s handle will return an <a href="elementcriteriamodel.html">ElementCriteriaModel</a> that’s fully prepped to output the field’s target elements, in the field-defined&nbsp;order.</p>
<pre><code class="language-twig">{% if cocktail.ingredients | length %}
    &lt;h3&gt;Featured Blog Posts&lt;/h3&gt;

    &lt;ul&gt;
        {% for ingredient in cocktail.ingredients %}
            &lt;li&gt;{{ ingredient.getLink() }}&lt;/li&gt;
        {% endfor %}
    &lt;/ul&gt;
{% endif %}</code></pre>
<p>You can also add any additional parameters that are supported by the element&nbsp;type:</p>
<pre><code class="language-twig">{% for ingredient in cocktail.ingredients.section('ingredients') %}
    &lt;li&gt;{{ ingredient.getLink() }}&lt;/li&gt;
{% endfor %}</code></pre>
<h3 id=the-relatedTo-param>The <code>relatedTo</code> Param&nbsp;<a class="anchor" href="#the-relatedTo-param" title="Direct link to The relatedTo Param">#</a></h3>
<p><a href="craft.assets"><code>craft.assets</code></a>, <a href="templating/craft.categories"><code>craft.categories</code></a>, <a href="http://buildwithcraft.com/docs/templating/craft.entries"><code>craft.entries</code></a>, <a href="http://buildwithcraft.com/docs/templating/craft.users"><code>craft.users</code></a>, and <a href="http://buildwithcraft.com/docs/templating/craft.tags.html.html"><code>craft.tags</code></a> each support a <code>relatedTo</code> param, enabling all kinds of crazy&nbsp;things.</p>
<h4>Simple&nbsp;Usage</h4>
<p>In its simplest form, you can pass in one of these things to&nbsp;it:</p>
<ul>
<li>An <a href="assetfilemodel">AssetFileModel</a>, <a href="templating/categorymodel">CategoryModel</a>, <a href="http://buildwithcraft.com/docs/templating/entrymodel">EntryModel</a>, <a href="http://buildwithcraft.com/docs/templating/usermodel">UserModel</a>, or <a href="http://buildwithcraft.com/docs/templating/tagmodel.html.html">TagModel</a>&nbsp;object</li>
<li>An element’s&nbsp;ID</li>
<li>An array of element objects and/or&nbsp;IDs</li>
</ul>
<p>By doing that, Craft will return all of the elements that are related to the given element(s), regardless of which one’s the source or&nbsp;target.</p>
<pre><code class="language-twig">{% set relatedDrinks = craft.entries.section('cocktails').relatedTo(cocktail) %}</code></pre>
<h4>Getting More&nbsp;Serious</h4>
<p>If you want to be a little more specific, <code>relatedTo</code> also accepts an object that contains the following&nbsp;properties:</p>
<ul>
<li><code>element</code>, <code>sourceElement</code>, or&nbsp;<code>targetElement</code></li>
<li><code>field</code>&nbsp;<em>(optional)</em></li>
<li><code>sourceLocale</code>&nbsp;<em>(optional)</em></li>
</ul>
<p>Set the first property’s key depending on what you want to get&nbsp;back:</p>
<ul>
<li>Use <code>element</code> if you don’t care whether the returned elements are the source or the target of a relation with the element(s) you’re passing&nbsp;in</li>
<li>Use <code>sourceElement</code> if you want to find elements related to the given element, where the given element is the source of the&nbsp;relation</li>
<li>Use <code>targetElement</code> if you want to find elements related to the given element, where the given element is the target of the&nbsp;relation</li>
</ul>
<p>Set the <code>field</code> property if you want to limit the scope to relations created by a particular field. You can set this to either a field handle or a field ID (or an array of handles and/or&nbsp;IDs).</p>
<pre><code class="language-twig">{% set ingredients = craft.entries.section('ingredients').relatedTo({
    sourceElement: cocktail,
    field: 'ingredients'
}) %}</code></pre>
<p>Set the <code>sourceLocale</code> property if you want to limit the scope to relations created from a particular field. (Only do this if your relational field is set to be translatable.) You can set this to a locale&nbsp;ID.</p>
<pre><code class="language-twig">{% set ingredients = craft.entries.section('ingredients').relatedTo({
    sourceElement: cocktail,
    sourceLocale: craft.locale
}) %}</code></pre>
<h4>Going Through&nbsp;Matrix</h4>
<p>If you want to find elements that are related to a source element through a <a href="matrix-fields.html">Matrix</a> field, just pass the Matrix field’s handle to the <code>field</code> param. If that Matrix field has more than one relational field and you want to target a specific one, you can specify the block type field’s handle using a dot&nbsp;notation:</p>
<pre><code class="language-twig">{% set ingredients = craft.entries.section('ingredients').relatedTo({
    sourceElement: cocktail,
    field: 'ingredientsMatrix.relatedIngredient'
}) %}</code></pre>
<h4>Passing Multiple Relation&nbsp;Criteria</h4>
<p>There might be times when you need to factor multiple types of relations into the mix. For example, outputting all of the current user’s favorite cocktails that include&nbsp;Gin:</p>
<pre><code class="language-twig">{% set gin = craft.entries.section('ingredients').slug('gin') %}

{% set cocktails = craft.entries.section('cocktails').relatedTo('and',
    { sourceElement: currentUser, field: 'favoriteCocktails' },
    { targetElement: gin, field: 'ingredients' }
) %}</code></pre>
<p>That first argument (<code>'and'</code>) specified that <em>all</em> of the relation criteria must be matched. You can pass <code>'or'</code> instead if you want <em>any</em> of the relation criteria to&nbsp;match.</p>
									
					<footer>
				<nav class="rellinks">
															
											<div class="prev">			<a href="users-fields.html">Users Fields</a>
	</div>
					
											<div class="next">			<a href="routing.html">Routing</a>
	</div>
									</nav>
			</footer>
						</div>
		</div>
	</div>
	</div>

	
	<footer class="site-footer">
		<div class="container grid">
			<div id="footer-links" class="col6 grid">
				<div class="col2">
					<h4>About Craft</h4>
					<ul>
						<li><a href="http://buildwithcraft.com/features">Features</a></li>
						<li><a href="http://buildwithcraft.com/pricing">Pricing</a></li>
						<li><a href="http://buildwithcraft.com/showcase">Showcase</a></li>
						<li><a href="http://buildwithcraft.com/updates">Updates</a></li>
						<li><a href="http://buildwithcraft.com/resources">Brand Resources</a></li>
						<li><a href="http://buildwithcraft.com/license">License Agreement</a></li>
					</ul>
				</div>

				<div class="col2">
					<h4>Learning Craft</h4>
					<ul>
						<li><a href="http://buildwithcraft.com/docs">Documentation</a></li>
						<li><a href="http://craftcms.stackexchange.com/">Craft Q&amp;A on Stack Exchange</a></li>
												<li><a href="http://github.com/pixelandtonic/ontherocks" target="_blank">On The Rocks demo site</a></li>
						<li><a href="http://mijingo.com/products/screencasts/craft-cms-tutorial/" target="_blank">Video series by Mijingo</a></li>
						<li><a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">Twig Documentation</a></li>
					</ul>
				</div>

				<div class="col2">
					<h4>Community</h4>
					<ul>
						<li><a href="http://twitter.com/craftcms" target="_blank">Twitter</a></li>
						<li><a href="http://plus.google.com/communities/106505340287442511226" target="_blank">Google+</a></li>
						<li><a href="http://chat.buildwithcraft.com" target="_blank">Craft Chat</a></li>
						<li><a href="http://craftcookbook.net/" target="_blank">Craft Cookbook</a></li>
						<li><a href="http://straightupcraft.com/" target="_blank">Straight Up Craft</a></li>
					</ul>
				</div>
			</div>
			<div id="footer-subscribe" class="col6">
				<h4>Subscribe to the Newsletter</h4>
				<form id="subscribe" method="post" action="">
					<input type="hidden" name="action" value="campaignMonitor/subscribe">
					<input type="hidden" name="listId" value="583b11822c17b5a2a0b4f5363c978cf9">
					<input class="text" type="text" name="email" placeholder="Your email address" value="">
					<input class="btn tk-proxima-nova" type="submit" value="Submit">
					<div class="spinner" style="display: none;" title="Loading…"></div>
					<div class="success" style="display: none;" title="Success!"></div>
				</form>
			</div>
		</div>
	</footer>

	<footer class="site-footer">
		<div class="container">
			<div id="footer-logos">
				<a id="pt" href="http://pixelandtonic.com" target="_blank" title="Craft is a Pixel &amp; Tonic concoction."></a>
				<a id="arcustech" href="http://arcustech.com" target="_blank" title="This site is hosted by our friends at ArcusTech."></a>
			</div>

			<p id="copyright">© 2014 Pixel & Tonic, Inc. All rights reserved.</p>
		</div>
	</footer>
		

	<script type="text/javascript" src="assets/lib/jquery-1.10.1.min.js"></script>
	<script type="text/javascript">
		window.craftDownloadUrl = "http\x3A\x2F\x2Fdownload.buildwithcraft.com\x2Fcraft\x2F2.2\x2F2.2.2601\x2FCraft\x2D2.2.2601.zip";
	</script>
	<script type="text/javascript" src="assets/lib/garnish-0.1.min.js"></script>
	<script type="text/javascript" src="assets/js/buildwithcraft.js?20140929"></script>
	<script type="text/javascript" src="assets/lib/prism.js"></script>

	
			
					<script type='text/javascript'>
				(function (d, t) {
					var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
					bh.type = 'text/javascript';
					bh.src = '//www.bugherd.com/sidebarv2.js?apikey=7gpoe4fiut0zajowrhx15w';
					s.parentNode.insertBefore(bh, s);
				})(document, 'script');
			</script>
			</body>
</html>
